<div class="current-version">
    <span>Bayard{{app_name|default('')}} Version</span>
    <span>{{ bayard_version() }}</span>
    <span> - ( GIT: </span>
    <span>{{ bayard_git_branch() }} )</span>
</div>
