<?php

/*
 * This file is part of the %vendorname% %packagename%.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

namespace %namespace%;

/**
 * %classdescription%
 *
 * @author Massimiliano PASQUESI <massimiliano.pasquesi@bayard-presse.com>
 */
class %name%
{
}
